div {
    border: 2px solid;
    font-family: Arial;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
  }
  
  .relative {
    border-color: #00D1AE;
    margin-top: 20px;
    position: relative;
  }
  
  .absolute {
    border-color: #3B3BFF;
    position: absolute;
  }
  
  .absolute-second {
    top: 100px;
    left: 500px;
  }